<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894820244726-7886mai12msl97fdu2frgfqt5poem06p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894820244726-7886mai12msl97fdu2frgfqt5poem06p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>894820244726-5m4famj2k1a0bltu3kthfic6hbe16f6d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3PZagzr8qBBhJpHWqElYv56VuachvVmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>894820244726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidsonnguyen.meowMeow</string>
	<key>PROJECT_ID</key>
	<string>meowmeow-84f15</string>
	<key>STORAGE_BUCKET</key>
	<string>meowmeow-84f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894820244726:ios:7b7333877c7cc523</string>
	<key>DATABASE_URL</key>
	<string>https://meowmeow-84f15.firebaseio.com</string>
</dict>
</plist>